@import 'icons.css';
.colist-toolbar {
  position: absolute;
  top: 17px;
  left: 211px;
  right: 53px;
}
.colist-toolbar .colist_search {
  position: absolute;
  top: -1px;
  right: 0px;
}
.colist-toolbar .colist_search input {
  position: relative;
  background: #e8e8e8;
  border: 0px;
  border-radius: 20px;
  box-shadow: 0px 0px 1px #fff;
  height: 27px;
  width: 179px;
  font-weight: 600;
  transition: all 350ms ease-in-out;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
}
.colist-toolbar .colist_search input:focus {
  outline: 0;
  width: 281px;
}
.colist-toolbar .colist_search:before {
  content: '\f002';
  font-family: 'colist';
  font-size: 15px;
  line-height: 1;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 21px;
  height: 21px;
  color: #ababab;
  z-index: 2;
}
.colist-toolbar figure {
  position: relative;
  top: 4px;
  left: 4px;
  margin: 0px;
  font-size: 15px;
}
.colist-toolbar figure.icon-gear:before {
  font-size: 16px;
  top: 1px;
}
.colist-toolbar figure.icon-trashcan-o:before {
  font-size: 16px;
}
.colist-toolbar figure.icon-rotate-left:before {
  top: 1px;
}
.colist-toolbar figure.icon-check:before {
  font-size: 17px;
  top: 1px;
}
.colist-toolbar ul.colist-group {
  float: left;
  height: 27px;
  margin: 0px 23px 0px 0px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.colist-toolbar ul.colist-group > li {
  float: left;
  width: 37px;
  height: 27px;
  background: #e8e8e8;
  margin-left: 1px;
  cursor: pointer;
  color: #999999;
}
.colist-toolbar ul.colist-group > li:first-child {
  margin-left: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.colist-toolbar ul.colist-group > li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.colist-toolbar ul.colist-group > li:hover:not(.disabled):not(.active) {
  background: #d4d4d4;
  color: #fff;
}
.colist-toolbar ul.colist-group > li:hover:not(.disabled):not(.active).extended:after {
  border-top: 5px solid #fff;
}
.colist-toolbar ul.colist-group > li.active,
.colist-toolbar ul.colist-group > li:active:not(.disabled) {
  background: #d4d4d4;
  box-shadow: inset 0px 1px 3px #bababa;
  color: #fff;
  text-shadow: 0px 1px 3px #ababab;
}
.colist-toolbar ul.colist-group > li.active figure,
.colist-toolbar ul.colist-group > li:active:not(.disabled) figure {
  margin-top: 1px;
  transform: scale(0.93);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
}
.colist-toolbar ul.colist-group > li.active.extended:after,
.colist-toolbar ul.colist-group > li:active:not(.disabled).extended:after {
  border-top: 5px solid #fff;
}
.colist-toolbar ul.colist-group > li.extended {
  position: relative;
  padding-right: 8px;
}
.colist-toolbar ul.colist-group > li.extended:after {
  content: '';
  position: absolute;
  top: 11px;
  right: 9px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #999999;
}
.colist-toolbar ul.colist-group > li.extended figure {
  left: 2px;
}
.colist-toolbar ul.colist-group > li.disabled {
  color: #d4d4d4;
  cursor: default;
}
.colist-toolbar .submenu {
  display: none;
  position: absolute;
  top: 32px;
  left: 1px;
  background: #fff;
  padding: 7px 0px;
  text-align: left;
  text-shadow: 0px 0px 0px;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.colist-toolbar .submenu:before {
  content: '';
  background: #fff;
  position: absolute;
  top: -6px;
  left: 17px;
  width: 10px;
  height: 10px;
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.05);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.colist-toolbar .submenu li {
  position: relative;
  white-space: nowrap;
  padding: 2px 17px 2px 25px;
  line-height: 17px;
  margin: 0px;
  color: #666;
  z-index: 2;
}
.colist-toolbar .submenu li.active,
.colist-toolbar .submenu li:hover:not(.divider) {
  background: #f90;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 5%, rgba(255, 255, 255, 0) 79%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 5%, rgba(255, 255, 255, 0) 79%);
}
.colist-toolbar .submenu li.checked:before {
  content: "\f00c";
  position: absolute;
  top: 3px;
  left: 6px;
  font-size: 13px;
  font-family: 'colist';
  line-height: 1;
}
.colist-toolbar .submenu li.divider {
  height: 1px;
  background: #e2e2e2;
  padding: 0px;
  margin: 4px 0px 3px;
  overflow: hidden;
  cursor: default;
}
/*
 * Mixins
 */
