@font-face {
	font-family: 'colist';
	src:url('../fonts/colist.eot?-96rjxa');
	src:url('../fonts/colist.eot?#iefix-96rjxa') format('embedded-opentype'),
		url('../fonts/colist.woff?-96rjxa') format('woff'),
		url('../fonts/colist.ttf?-96rjxa') format('truetype'),
		url('../fonts/colist.svg?-96rjxa#colist') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'colist';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 14px;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	position: relative;
}

.icon-file-o:before        { top: -1px; font-size: 17px; }
.icon-folder:before        { font-size: 15px; }
.icon-folder-open:before   { left: 1px; font-size: 14px; }
.icon-file-text-o:before   { top: -1px; font-size: 17px; }
.icon-search:before        { top: -1px; font-size: 14px; }
.icon-globe:before         { top: -1px; font-size: 15px; }


.icon-search:before        { content: "\f002"; }
.icon-film:before          { content: "\f008"; }
.icon-check:before         { content: "\f00c"; }
.icon-times:before         { content: "\f00d"; }
.icon-gear:before          { content: "\f013"; }
.icon-trash-o:before       { content: "\f014"; }
.icon-file-o:before        { content: "\f016"; }
.icon-tag:before           { content: "\f02b"; }
.icon-tags:before          { content: "\f02c"; }
.icon-picture-o:before     { content: "\f03e"; }
.icon-folder:before        { content: "\f07b"; }
.icon-folder-open:before   { content: "\f07c"; }
.icon-globe:before         { content: "\f0ac"; }
.icon-filter:before        { content: "\f0b0"; }
.icon-rotate-left:before   { content: "\f0e2"; }
.icon-sitemap:before       { content: "\f0e8"; }
.icon-cloud-upload:before  { content: "\f0ee"; }
.icon-file-text-o:before   { content: "\f0f6"; }
